#space  {
    width: 60px;
    height: 80px;
    border-style: none;
    background-image: url("https://cdn.domestika.org/c_fill,dpr_auto,f_auto,q_auto,w_820/v1586415687/content-items/004/129/321/personaje_correr-original.gif?1586415687");
    background-size: cover;
    background-repeat: no-repeat;
    

}

